body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
}

#hero {
  width: 592px;
  margin: 72px auto;
}

img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #ff9900;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}

.line {
  width: 568px;
  height: 0;

  margin: 0 auto 8px;

  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}
